In [15]:
import pandas as pd
import yfinance as yf
import requests
from datetime import datetime


def get_bitcoin_prices(start_date, end_date):
    bitcoin = yf.download('BTC-USD', start=start_date, end=end_date)
    bitcoin['bitcoin_price'] = bitcoin['Adj Close']
    return bitcoin[['bitcoin_price']]

def get_sp500_prices(start_date, end_date):
    sp500 = yf.download('^GSPC', start=start_date, end=end_date)
    sp500['sp500_price'] = sp500['Adj Close']
    return sp500[['sp500_price']]

def get_gold_prices(start_date, end_date):
    gold = yf.download('GC=F', start=start_date, end=end_date)
    gold['gold_price'] = gold['Adj Close']
    return gold[['gold_price']]

def get_usd_index(start_date, end_date):
    usd_index = yf.download('DX-Y.NYB', start=start_date, end=end_date)
    usd_index['usd_index'] = usd_index['Adj Close']
    return usd_index[['usd_index']]

def get_volatility_index(start_date, end_date):
    vol_index = yf.download('^VIX', start=start_date, end=end_date)
    vol_index['volatility_index'] = vol_index['Adj Close']
    return vol_index[['volatility_index']]

def get_interest_rates(start_date, end_date):
    irx = yf.download('^IRX', start=start_date, end=end_date)
    irx['interest_rate'] = irx['Adj Close']
    return irx[['interest_rate']]

def get_oil_prices(start_date, end_date):
    oil = yf.download('CL=F', start=start_date, end=end_date)
    oil['oil_price'] = oil['Adj Close']
    return oil[['oil_price']]


# Specify the date range for the dataset
start_date = '2014-09-17'
end_date = datetime.today().strftime('%Y-%m-%d')

def get_dataset(start_date, end_date, interval):
    btc_prices = get_bitcoin_prices(start_date, end_date)
    sp500_prices = get_sp500_prices(start_date, end_date)
    gold_prices = get_gold_prices(start_date, end_date)
    usd_index_prices = get_usd_index(start_date, end_date)
    oil_prices = get_oil_prices(start_date, end_date)
    vol_index = get_volatility_index(start_date, end_date)
    interest_rates = get_interest_rates(start_date, end_date)
    dataset = btc_prices.join([sp500_prices, gold_prices, usd_index_prices, oil_prices, vol_index, interest_rates], how='outer')
    
    print(dataset.isna().sum())
    dataset.ffill(inplace=True)
    dataset.dropna(inplace=True)
    dataset.index = pd.to_datetime(dataset.index, utc=True)
    dataset.index = dataset.index.date
    return dataset

# dataset.to_csv('training_datasets/bitcoin_prediction_dataset.csv')
dataset = get_dataset(start_date, end_date, '1d')
dataset.head(100)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price             Ticker
bitcoin_price                  0
sp500_price                 1152
gold_price                  1155
usd_index                   1153
oil_price                   1154
volatility_index            1152
interest_rate               1153
dtype: int64

Price,bitcoin_price,sp500_price,gold_price,usd_index,oil_price,volatility_index,interest_rate
Ticker,,,,,,,
2014-09-17,457.334015,2001.569946,1234.400024,84.699997,94.419998,12.65,0.013
2014-09-18,424.440002,2011.359985,1225.699951,84.320000,93.070000,12.03,0.010
2014-09-19,394.795990,2010.400024,1215.300049,84.800003,92.410004,12.11,0.007
2014-09-20,408.903992,2010.400024,1215.300049,84.800003,92.410004,12.11,0.007
2014-09-21,398.821014,2010.400024,1215.300049,84.800003,92.410004,12.11,0.007
...,...,...,...,...,...,...,...
2014-12-21,320.842987,2070.649902,1195.900024,89.599998,56.520000,16.49,0.025
2014-12-22,331.885986,2078.540039,1179.699951,89.769997,55.259998,15.25,0.015
2014-12-23,334.571991,2082.169922,1177.900024,90.059998,57.119999,14.80,0.020
2014-12-24,322.533997,2081.879883,1173.500000,89.970001,55.840000,14.37,0.020
2014-12-25,319.007996,2081.879883,1173.500000,89.970001,55.840000,14.37,0.020

In [14]:
dataset.reset_index(drop=True, inplace=True)
dataset.head(100)

Price,bitcoin_price,sp500_price,gold_price,usd_index,oil_price,volatility_index,interest_rate
Ticker,,,,,,,
0,457.334015,2001.569946,1234.400024,84.699997,94.419998,12.65,0.013
1,424.440002,2011.359985,1225.699951,84.320000,93.070000,12.03,0.010
2,394.795990,2010.400024,1215.300049,84.800003,92.410004,12.11,0.007
3,408.903992,2010.400024,1215.300049,84.800003,92.410004,12.11,0.007
4,398.821014,2010.400024,1215.300049,84.800003,92.410004,12.11,0.007
...,...,...,...,...,...,...,...
95,320.842987,2070.649902,1195.900024,89.599998,56.520000,16.49,0.025
96,331.885986,2078.540039,1179.699951,89.769997,55.259998,15.25,0.015
97,334.571991,2082.169922,1177.900024,90.059998,57.119999,14.80,0.020
98,322.533997,2081.879883,1173.500000,89.970001,55.840000,14.37,0.020
99,319.007996,2081.879883,1173.500000,89.970001,55.840000,14.37,0.020

In [16]:
# export to csv
dataset.to_csv('training_datasets/bitcoin_prediction_dataset.csv')

In [ ]:
df = pd.read_csv('training_datasets/bitcoin_prediction_dataset.csv')

In [3]:
start_date = '2024-10-10'
end_date = datetime.today().strftime('%Y-%m-%d')
df = pd.DataFrame()
bitcoin = yf.download('BTC-USD', start=start_date, end=end_date)
df['bitcoin_price'] = bitcoin['Adj Close']
sp500 = yf.download('^GSPC', start=start_date, end=end_date)
df['sp500_price'] = sp500['Adj Close']
gold = yf.download('GC=F', start=start_date, end=end_date)
df['gold_price'] = gold['Adj Close']
usd_index = yf.download('DX-Y.NYB', start=start_date, end=end_date)
df['usd_index'] = usd_index['Adj Close']
vol_index = yf.download('^VIX', start=start_date, end=end_date)
df['volatility_index'] = vol_index['Adj Close']
irx = yf.download('^IRX', start=start_date, end=end_date)
df['interest_rate'] = irx['Adj Close']
oil = yf.download('CL=F', start=start_date, end=end_date)
df['oil_price'] = oil['Adj Close']

# dataset = bitcoin[['bitcoin_price']].join([sp500[['sp500_price']], gold_prices, usd_index_prices, oil_prices, vol_index, interest_rates], how='outer')
df.ffill(inplace=True)
df.dropna(inplace=True)
# df.index = pd.to_datetime(dataset.index, utc=True)
#df.index = dataset.index.date
df.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,bitcoin_price,sp500_price,gold_price,usd_index,volatility_index,interest_rate,oil_price
Date,,,,,,,
2024-10-10 00:00:00+00:00,60274.500000,5780.049805,2620.600098,102.989998,20.930000,4.530,75.849998
2024-10-11 00:00:00+00:00,62445.089844,5815.029785,2657.600098,102.889999,20.459999,4.515,75.559998
2024-10-12 00:00:00+00:00,63193.023438,5815.029785,2657.600098,102.889999,20.459999,4.515,75.559998
2024-10-13 00:00:00+00:00,62851.375000,5815.029785,2657.600098,102.889999,20.459999,4.515,75.559998
2024-10-14 00:00:00+00:00,66046.125000,5859.850098,2647.800049,103.300003,19.700001,4.518,73.830002